body{
    font-family: 'Lato', sans-serif;
font-family: 'Marvel', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0;
}


.header{
    display: flex;
    background-color: black;
    border-radius: 20px;
    padding: 50px;
    height: 500px; 
    color: white;
}
.right{
    padding-right: 200px;
    
}
.size{
    height: 550px;

}
.button{
    background-color: #04AA6D;
     border: 1px solid green;
     color: white;
     padding: 10px 24px;
     border-radius: 10px;

  
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}
.football{
    border: 2px solid burlywood;
    border-radius: 5px;
    padding: 10px;
    
}
.left{
    font-size: 24px;
}
@media screen and (max-width: 576px) {

    .football{
        background-color: aquamarine;
    }
}
@media screen and (min-width:577px) and (max-width:1000px) {
    .football{
        background-color: chartreuse;
        grid-template-columns: repeat(2, 1fr);
    }  
}
.football img{
    width: 50%;
}
.main{
    display: flex;
    gap: 20px;
    
}
.container0{
    border: 5px;
    border-radius: 10px;
    display: inline-block;
    background-color: brown;
    width: 25%;
    height: 200px;
    display: grid;
    grid-template-columns: 100px;
    margin-left: 20px;
    background-position: center;
    background-color: #52e6af;
    border: 1px solid rgb(112, 241, 112);
    color: white;
    padding: 10px 24px;
    border-radius: 10px;

}
.container0 button:hover {
    background-color: #1cc5f0;
    border-radius: 10px;
  }
.container00{
    color: rgb(161, 73, 73);
    
    width: 100%;
    border: 5px;
}
.football img{
    width: 100%;
}
.football button{
    background-color: #1674f0;
    border: 1px solid rgb(65, 87, 65);
    color: white;
    padding: 10px 24px;
    border-radius: 10px;
}
.football button:hover {
    background-color: #1cc5f0;
    border-radius: 10px;
  }
.footer{
    text-align: center;
    background-color: black;
    height: 200px;
    color: white;

}

.fa-facebook-square , .fa-linkedin,.fa-envelope{
    font-size: 20px;
}
#finish{
    
    padding: 20px;
}
.finish{
    margin: 20px;
}
.container2{
display: grid;
grid-template-columns: repeat(3, 1fr);
border: 10px black;
border-radius: 10px;

}
.match{
    border: 10px black;
    border-radius: 10px;
   padding: 35px;
}
.main2{
    display: flex;
    gap: 20px;
}